.card-classical {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 0 10px var(--base-gray-200);
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.card-classical .card-description {
  margin: 10px 12px 0 12px;
}

.card-classical:hover {
  transform: translateY(-5px);
}