.card-modern {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 0 10px var(--base-gray-200);
  padding: 20px;
  margin-bottom: 20px;
  /* background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6); */
  transition: all 0.2s ease-in-out;
}

.card-modern .post-card-header {
  color: var(--base-black);
}

.card-modern .card-description  {
  color: var(--base-gray-700);
}

.card-modern .card-description {
  margin: 10px 10px 0 10px;
}

.card-modern:hover {
  transform: translateY(-5px);
}