<div id="card-container" class="card-container card-classical display-flex flex-wrap flex-direction-column justify-content-space-between align-items-flex-start boarder-1px padding-10px radius-5px margin-20px" style="order:{{order}}">
    <a class="link" href="{{card_link}}">
        <div class="post-card radius-5px padding-10px">
           <div class="post-card-header display-flex justify-content-space-between align-items-center height-50px">{{card_title}}</div>
           <div class="card-description ">{{card_description}}</div>
        </div>
    </a>
    <div class="card-tags display-flex padding-10px margin-left-auto">{{tags}}</div>
    <link rel="stylesheet" href="/css/card_classical.css"/>
    <script src="/js/card_classical.js"></script>
</div>