<div id="card-container" card-id="{{id}}" class="card-container card-container-split-line" style="order:{{order}};
    width:100%;height:40px;margin:10px;display:flex;flex-direction:column;align-items:center;justify-content:center;">
    <div id="top-class" class="top-class" style="font-size:30px;color: #303030;height:20px;margin-right:auto;margin-left:10%;">{{card_title}}</div>
    <div id="bottom-line" class="bottom-line" style="height:20px;width:90%;box-shadow: 2px 2px 2px #888888;"></div>
</div>