<div id="card-container" card-id="{{id}}" class="card-container card-container-todo-list" style="order:{{order}};">
    <div class="main-container">
        <div class="card-header">
            <div class="card-title">{{card_title}}</div>
        </div>
        
        <div class="card-content">

        </div>
    </div>

    <div class="todo-list-info-container" data-list="{{todo_list}}"></div>
    <link rel="stylesheet" href="/css/card_template_todo_list.css">
    <script src="/js/card_template_todo_list.js"></script>
</div>