<div id="card-container" card-id="{{id}}" class="card-container card-photo-album" style="order:{{order}}">
    <div class="photo-container">
        
    </div>
    <div class="controll-container">
        <div class="prev-btn"></div>
        <div class="next-btn"></div>
    </div>

    <div class="album-info-container" data-album="{{album}}" style="display: none;"></div>
    <link rel="stylesheet" href="/css/card_template_photo_album.css"/>
    <script src="/js/card_template_photo_album.js"></script>
</div>