<div id="card-container" card-id="{{id}}" class="card-container card-music-player" style="order:{{order}}">
    <div id="image-container"></div> <!-- Z-index of 1-->
    <div id="player-container" class="player-container">
        <div id="player-header" class="player-header display-flex justify-content-space-between align-items-center">
            <div id="player-title" class="player-title">{{music_title}}</div>
            <div id="player-artist" class="player-artist">{{music_artist}}</div>

        </div>
        <div id="player-controls" class="player-controls display-flex justify-content-space-between align-items-center">
            <div id="player-prev" class="player-prev player-control">
                ⏮
            </div>
            <div id="player-pause" class="player-pause player-control">
                ▶
            </div>
            <div id="player-next" class="player-next player-control">
                ⏭
            </div>
        </div>
        <div id="player-progress" class="player-progress">
            <div id="player-progress-bar" class="player-progress-bar"></div>
            <div id="player-time" class="player-time">
                <div id="player-current-time" class="player-current-time">00:00</div>
                <div id="player-duration" class="player-duration">00:00</div>
            </div>
        </div>
    </div> <!-- Z-index of 2-->
    <div id="player-shift-container" class="player-shift-container">
        <div id="player-lyric-container" class="player-lyric-container">
            <div id="player-lyric-pre" class="player-lyric-pre"></div>
            <div id="player-lyric-current" class="player-lyric-current"></div>
            <div id="player-lyric-next" class="player-lyric-next"></div>
        </div>
    </div> <!-- Z-index of 3-->
    <div id="music-info-container" data-music-link="{{music_link}}" data-music-title="{{music_title}}"
        data-music-artist="{{music_artist}}" data-music-image="{{music_image}}" data-music-lyric="{{music_lyric_link}}" class="music-info-container"></div>
    <link rel="stylesheet" href="/css/card_template_music_player.css">
    <script src="/js/card_template_music_player.js"></script>
</div>