<div class="card-input-box">
    <div class="input-group">
        <label for="add-card-title">Title
            <div class="import-export-buttons">
                <button type="button" title="Import from base64 json" onclick="onImportButtonClick()">↓</button>
                <button type="button" title="Export to clipboard" onclick="onExportButtonClick()">↑</button>
            </div>
        </label>
        <input type="text" id="add-card-title" required>
    </div>

    <div class="input-group">
        <label for="add-card-description">Description</label>
        <textarea id="add-card-description" rows="3" required></textarea>
    </div>

    <div class="input-group">
        <label for="add-card-link">Link</label>
        <textarea id="add-card-link" rows="2" required></textarea>
    </div>

    <div class="input-group">
        <label for="add-card-template">Template</label>
        <input type="text" id="add-card-template" value="card_template_classical" required>
    </div>

    <div class="input-group">
        <label for="add-card-tags">Tags</label>
        <input type="text" id="add-card-tags" value="mytag1 mytag2" required>
    </div>

    <div class="custom-fields">
        <button type="button" onclick="OncreateCustomFieldButtonClick()">
            <span>+</span>
            <span>Add Custom Field</span>
        </button>
        <div id="custom-fields-container"></div>
    </div>

    <div class="button-group">
        <button type="button" class="add-card-button" onclick="OnAddCardButtonClick(true)">Edit Card</button>
        <button type="button" class="cancel-button" onclick="CancleInputBox()">Cancel</button>
    </div>
</div>