<div class="comment-input-box">
    <div class="input-group">
        <label for="add-comment-author">Author</label>
        <input type="text" id="add-comment-author" required>
        <label for="add-comment-text">Comment</label>
        <textarea id="add-comment-text" rows="3" required></textarea>
    </div>

    <div class="inner-cf-turnstile"></div>
    <div class="button-group">
        <button type="button" class="add-comment-button" onclick="OnAddCommentButtonClick()">Commit your comment</button>
        <button type="button" class="cancel-button" onclick="CancleCommentInputBox()">Cancel</button>
    </div>
</div>